.poor2{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../../app/asset/poor33.jpg');
   
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.donate2{
    display: flex;
    height: 88%;
    align-items: center;
}

@media screen and (max-width:576px){
    .font h2{
        font-weight: 600;
        font-size: medium;
        padding-top: 15px;
    }
    .font p{
        font-weight: 400;
        font-size: small;
        padding-bottom: 15px;
    }
    .svg3{
        width: auto;
    }

    .donate2{
        flex-direction: column-reverse;
    }
   
    
}

@media screen and (min-width:577px) and (max-width:992px){
    .svg3{
        width: auto;
    }
   
}