@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

.navbar{
    font-family: 'Open Sans', sans-serif;
}

.active-link {
    color: red;
    font-weight: bold;
  }
  @media screen and (max-width:400px){
    .navbar {
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 20px;
        
    }
    .navbar-end{
        width: auto;
    }
    .navbar-end button{
        width: auto;
        margin-left: 10px;
        height: auto;
    }
    .navbar-start a{
        font-size: medium;
    }
    .navbar-start {
       width: auto;
      
    }
  }

