.galleryContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .gallery {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  .galleryItem {
    width: 100px; /* Adjust the image size */
    height: 100px; /* Adjust the image size */
    margin-right: 10px; /* Adjust the spacing between images */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.3;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .active {
    opacity: 1;
  }
  