*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bg{
 
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
}
.bg1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-5555.jpg');

}
.bg2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-8888.jpg');

}
.bg3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-9999.jpg');

}
.bg4{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-7777.jpg');

}
.bg5{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-1111.jpg');

}
.bg6{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-3333.jpg');
}
.bg7{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-1010.jpg');

}
.contain{
    display: flex;
    height: 88%;
    align-items: center;
}
.text{
    flex-basis: 50%;
}
.cards{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.cards1{
    background-image: url(../../app//asset/card-123.jpg);

}
.cards2{
    background-image: url(../../app//asset/card-22.jpg);

}
.cards3{
    background-image: url(../../app//asset/card-33.jpg);

}
.cards4{
    background-image: url(../../app//asset/card-44.jpg);

}
.cards5{
    background-image: url(../../app//asset/card-55.jpg);

}
.cards6{
    background-image: url(../../app//asset/card-66.jpg);

}
.cards7{
    background-image: url(../../app//asset/card-77.jpg);

}
.cards8{
    background-image: url(../../app//asset/card-88.jpg);

}
.cards9{
    background-image: url(../../app//asset/card-99.jpg);

}
.cards10{
    background-image: url(../../app//asset/card-1010.jpg);

}
.cards11{
    background-image: url(../../app//asset/card-1111.jpg);

}
.cards12{
    background-image: url(../../app//asset/card-1212.jpg);

}
.cards:hover{
    transform: translateY(-10px);
}
.cards h3{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
@media screen and (min-width:742px) and (max-width:992px) {
   
    .cards{
        width: auto;
        height: auto;
    }
    .contain{
        flex-direction: column-reverse;
        justify-content: center;
    }
}
@media screen and (max-width:742px){
    .cards{
        width: auto;
        height: auto;
       
    }
    .mod{
        display: grid;
        
        grid-template-columns: repeat(2,1fr);
    }
   
    .contain{
        display: flex;
    height: 120%;
    align-items: center;
    justify-content: center;
    }
   
    .cards h3{
        font-size: 8px;
        padding-top: 25px;
        color: #fff;
        text-shadow: 0 0 5px #999;
}
.contain h1{
    font-weight: 300;
    font-size: medium;
}
.contain p{
    font-weight: 200;
    font-size: small;
  
}
.contain button{
   
   width: auto;
   
   
}


}
@media screen and (min-width:993px) and (max-width:1113px){
    .cards{
        
        height: auto;
    }
}