*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.field{

    box-sizing: border-box;
    margin-top: 80px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;

}

.search{
   padding: 13px 19px;
   
   
   width: 688px;
   border-radius: 2px;
   line-height: 1;
   letter-spacing: 0;
   border: none;
   outline: none;
   box-shadow: none;
   background: #f4eeee;
   color: #212121;
   font-size: 14px;
   

}
.btn-field{
   
    line-height: 1;
}
.btn-search{
    width: 45px;
    height: 45px;
    border:none;
    text-indent: -9999px;
    outline: none;
    box-shadow: none;
    background-color: rgb(255, 61, 61);
    border-radius: 0 2px 2px 0;
}

.bg{
 
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.bg1{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-55.jpg');

}
.bg2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-66.jpg');

}
.bg3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-44.jpg');

}
.bg4{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-77.jpg');

}
.bg5{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-11.jpg');

}
.bg6{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-33.jpg');
}
.bg7{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../app/asset/pic-44.jpg');

}
.contain{
    display: flex;
    height: 88%;
    align-items: center;
}
.text{
    flex-basis: 50%;
}
.cards{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.cards1{
    background-image: url(../../app//asset/card-1.jpg);

}
.cards2{
    background-image: url(../../app//asset/card-2.jpg);

}
.cards3{
    background-image: url(../../app//asset/card-3.jpg);

}
.cards4{
    background-image: url(../../app//asset/card-4.jpg);

}
.cards5{
    background-image: url(../../app//asset/card-5.jpg);

}
.cards6{
    background-image: url(../../app//asset/card-6.jpg);

}
.cards7{
    background-image: url(../../app//asset/card-7.jpg);

}
.cards8{
    background-image: url(../../app//asset/card-8.jpg);

}
.cards9{
    background-image: url(../../app//asset/card-9.jpg);

}
.cards10{
    background-image: url(../../app//asset/card-10.jpg);

}
.cards11{
    background-image: url(../../app//asset/card-11.jpg);

}
.cards12{
    background-image: url(../../app//asset/card-12.jpg);

}
.cards:hover{
    transform: translateY(-10px);
}
.cards h3{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
@media screen and (min-width:577px) and (max-width:992px) {
    .search{
        width: auto;
    }
    .cards{
        width: auto;
        height: auto;
    }
    .contain{
        flex-direction: column-reverse;
        justify-content: center;
    }
}
@media screen and (max-width:576px){
    .cards{
        width: auto;
        height: auto;
       
    }
    .mod{
        display: grid;
        margin-bottom: 25px;
        grid-template-columns: repeat(2,1fr);
    }
   
    .contain{
        display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    }
    .search{
        width: auto;
    }
    .cards h3{
        font-size: 8px;
        color: #fff;
        text-shadow: 0 0 5px #999;
}
.contain h1{
    font-weight: 300;
    font-size: medium;
}
.contain p{
    font-weight: 200;
    font-size: small;
  
}
.contain button{
   
   width: auto;
   margin-top: 5px;
   
}
}